extends layout

block content
	div(ng-app="imc" ng-controller="ctrl")
		div.col-md-12.col-md-offset-4
			h3(style="position:relative;left:1em;top:1em;font-family:arial;")
				i Calculo do Indice de Massa Corpórea

		div.col-md-4.col-md-offset-4(style="margin-top:3em;")
			div.panel.panel-default
				div.panel-heading Login
				div.panel-body
					div.input-group
						span.input-group-addon#basic-addon1 Usuário:
						input.form-control(type="text" ng-model="contato.usuario")
					br

					div.input-group
						span.input-group-addon#basic-addon1 Senha:
						input.form-control(type="password" ng-model="contato.senha")
					br

				div.panel-footer
					div.col-md-offset-10
						button.btn.btn-default(type="button" ng-click="logar(contato)") Entrar
		
