doctype html
html
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet" type="text/css" href="/javascripts/bootstrap/bootstrap.css")
    script(type="text/javascript" src="/javascripts/angular/angular.js")
    script(type="text/javascript" src="/javascripts/angular/angular-locale-ptbr.js")
    script(type="text/javascript" src="/javascripts/app.js")
    link(rel="shortcut icon" href="/images/ang.png")
    script(type="text/javascript" src="/javascripts/jquery.js")
    script(type="text/javascript" src="/javascripts/bootstrap/bootstrap.js")
    script(type="text/javascript" src="/javascripts/configValue.js")
    script(type="text/javascript" src="/javascripts/servicosRest.js") 
  body
    block content
