extends layout

block content
	div(ng-app="imc" ng-controller="ctrl")
		div.col-md-2.col-md-offset-1(style="margin-top:2em;position:relative;left:75%;")
			a(href="#" ng-click="logout()" style="text-decoration:none;color:black;") Sair
				img(src="/images/close.png" style="position:relative;left:3px;")

		div.col-md-5.col-md-offset-5
			h3
				i Lista de Pacientes
				br

		div.col-md-1.col-md-offset-9
			button.btn.btn-default(type="button" style="position:relative;top:3em;") Gerar PDF
		div.col-md-5.col-md-offset-2
			input(type="text" class="form-control" ng-model="buscar" placeholder="Pesquisar por nome...")
			br

		div.col-md-8.col-md-offset-2
			table.table
				tr
					th Nome
					th Peso
					th Altura
					th Valor do IMC
					th Status
				tr(ng-repeat="valor in valores | filter:{nome:buscar}")
					td {{valor.nome}}
					td {{valor.peso}}
					td {{valor.altura}}
					td {{valor.imc | limitTo:5}}
					td {{valor.status}}