extends layout

block content
	div(ng-app="imc" ng-controller="ctrl")
		
		div.col-md-5.col-md-offset-5
			h3
				i Lista de Pacientes
				br
				br

		div.col-md-5.col-md-offset-2
			input(type="text" class="form-control" ng-model="buscar" placeholder="Pesquisar por nome...")
			br

		div.col-md-8.col-md-offset-2
			table.table
				tr
					th Nome
					th Peso
					th Altura
					th Valor do IMC
					th Status
				tr(ng-repeat="valor in valores")
					td {{valor.nome}}
					td {{valor.peso}}
					td {{valor.altura}}
					td {{valor.imc}}
					td {{valor.status}}